.tori {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container {
  display: flex;
  align-items: center;
}

.filter-select {
  margin: 0 10px;
}

.filter-checkboxes {
  margin-top: 10px;
}

.blue-button {
  background-color: blue;
  color: white;
}

.bigger-search {
  width: 300px;
  height: 40px;
}
